#interface #block-one {
    top: 100px;
    left: 10%;
}

#interface #block-two {
    top: 200px;
    left: 70%;
}

#interface #block-three {
    top: 300px;
    left: 10%;
}

#interface #block-four {
    top: 400px;
    left: 70%;
}