#interface {
    height: 1700px;
}

.blocos-um {
    box-sizing: border-box;
    position: relative;
    width: 300px;
    background: white;
    color: black;
    border-radius: 3px;
    padding: 10px;
    box-shadow: 0 0 10px rgb(255, 255, 255), 0 0 40px rgb(11, 163, 143), 0 0 80px  rgb(8, 19, 173);
}

